<header>
  <div class="site-title">EJS Yourself</div>
  <nav class="site-nav">
    <ul>
      <% for( let i = 0; i < navItems.length; i++ ) { %>
      <li><a href=" <%= navItems[i].path %> "><%= navItems[i].name%></a></li>
      <% } %> <%if (reqInfo.authenticated) { %>
      <a href="/contact">Contact</a>
      <a href="/user/logout">Logout</a>
      <% } else { %>
      <a href="/user/login">Login</a>
      <a href="/user/register">Register</a>
      <% } %>
    </ul>
  </nav>
</header>
